<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.blogName %></title>
</head>
<body>
        <!-- Nav Bar-->
        <div class="nav-bar">
            <div class="web-logo">
            <!--<a>Hinh </a>-->
            <img class="web-logo" src="https://static.vecteezy.com/system/resources/previews/017/178/344/original/hour-glass-icon-on-transparent-background-free-png.png" width="20" height="20">
    <h1 class="web-name">Memento</h1>
    
            <ul>
                <li>Bai viet</li>
            </ul>
          </div>
            <div class="nav-components">
            <form>
                <input type="text" placeholder="Tim kiem">
            </form>
            <a>Dang ky</a>
            <a>Dang nhap</a>
            </div>
        </div>
        <!-- End Nav Bar-->
    <div class="container">
        <div id="parallax-world-of-ugg">
  
            <section>
              <div class="title">
                <h3><%= blog.blogName %></h3>
             
              </div>
            </section>
            
            <section>
                <div class="parallax-one">
             
                </div>
            </section>
            
            <section>
              <div class="block">
                <p><span class="first-character sc"><%- blog.sanitizedHtml %>  </span>
               </p></div>
            </section>
            
            
            </div>
            <!--end of blog content-->

        <section>
            <div class="comment-container">
                <div class="row">
                    <div class="comment-wrapper col-sm-5 col-md-6 col-12 pb-4">
                        <h1>Comments</h1>
        
            <% blog.comments.forEach(comment =>{ %> 
                
                <div class="comment mt-4 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Jhon Doe</h4>
                    <span>- 20 October, 2018</span>
                    <br>
                    <p><%= comment.content %></p>
                </div>
            <% }) %>
        </div>
        

    </div>

            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <input name="userId" type="hidden">
                        <input name="blog" type="hidden">
                        <label for="message" >Message</label>
                        
                        <textarea name="comment" id=""msg cols="30" rows="5" class="form-control" style="background-color:#fff;" placeholder="Share your thought here..."></textarea>
                   
                    
                        <button type="button" id="post" class="btn">Post Comment</button>
                    
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

    <style>
        .nav-bar {
            display: flex; /* 1 */
            justify-content: space-between; /* 2 */
            
            background:#74ABAE; /* 4 */
       
          }
          .nav-components{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
          }
        
    
    .web-logo{
      display: flex;
      flex-direction: row;
    justify-content: space-between;
    align-items: center;}




    /*comment section*/

    @media(min-width:568px){
    .end{
        margin-left: auto;
    }
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
}
#clicked{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px; 
}

#profile{
    background-color: unset;
    
} 

#post{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}

body{
    background-color:#4e54c8 ;
 
}


#nav-items li a,#profile{
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black;
}


.comments{
    margin-top: 5%;
    margin-left: 20px;
    
}

.comment{
    border: 1px solid rgba(16, 46, 46, 1);
    
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    
}
.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
}
.comment-wrapper {display: flex;
flex-direction: column;}
.comment p,.comment span,.darker p,.darker span{
    color: rgb(184, 183, 183);
    
}

h1,h4{
    color: white;
    font-weight: bold;
}
label{
    color: rgb(212, 208, 208);
}

#align-form{
    margin-top: 20px;
}
.form-group p a{
    color: white;
    
}
.form-group{display: flex;
flex-direction: column;
}
.form-group button{
    align-self: self-end;
    
}

#darker img{
    margin-right: 15px;
    position: static;
}

.form-group input,.form-group textarea{
    
    border: 1px solid  #fff;
    border-radius: 12px;
}
::placeholder{color: #fff;}
.comment:focus { border:2px solid #CC4949; }
form{
    
    
    border-radius: 5px;
    padding: 20px;
 }

/*end of comment section css*/


/*paralax effect*/
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:14px; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#parallax-world-of-ugg p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:14px; line-height:24px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}

    </style>
</body>
</html>