<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.blogName %></title>
</head>
<body>
        <!-- Nav Bar-->
        <div class="nav-bar">
            <div class="web-logo">
            <!--<a>Hinh </a>-->
            <img class="web-logo" src="https://static.vecteezy.com/system/resources/previews/017/178/344/original/hour-glass-icon-on-transparent-background-free-png.png" width="20" height="20">
    <h1 class="web-name">Memento</h1>
    
            <ul>
                <li>Bai viet</li>
            </ul>
          </div>
            <div class="nav-components">
            <form>
                <input type="text" placeholder="Tim kiem">
            </form>
            <a>Dang ky</a>
            <a>Dang nhap</a>
            </div>
        </div>
        <!-- End Nav Bar-->
    <div class="container">
        <h1><%= blog.blogName %></h1>
        <div>   
            <%- blog.sanitizedHtml %>
        </div>
        <section>
            <div class="comment-container">
                <div class="row">
                    <div class="comment-wrapper col-sm-5 col-md-6 col-12 pb-4">
                        <h1>Comments</h1>
        
            <% blog.comments.forEach(comment =>{ %> 
                
                <div class="comment mt-4 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Jhon Doe</h4>
                    <span>- 20 October, 2018</span>
                    <br>
                    <p><%= comment.content %></p>
                </div>
            <% }) %>
        </div>
        

    </div>

            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <input name="userId" type="hidden">
                        <input name="blog" type="hidden">
                        <label for="message" >Message</label>
                        
                        <textarea name="comment" id=""msg cols="30" rows="5" class="form-control" style="background-color:#fff;" placeholder="Share your thought here..."></textarea>
                   
                    
                        <button type="button" id="post" class="btn">Post Comment</button>
                    
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

    <style>
        .nav-bar {
            display: flex; /* 1 */
            justify-content: space-between; /* 2 */
            
            background:#74ABAE; /* 4 */
       
          }
          .nav-components{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
          }
        
    
    .web-logo{
      display: flex;
      flex-direction: row;
    justify-content: space-between;
    align-items: center;}




    /*comment*/

    @media(min-width:568px){
    .end{
        margin-left: auto;
    }
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
}
#clicked{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px; 
}

#profile{
    background-color: unset;
    
} 

#post{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}

body{
    background-color:#4e54c8 ;
 
}


#nav-items li a,#profile{
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black;
}


.comments{
    margin-top: 5%;
    margin-left: 20px;
    
}

.comment{
    border: 1px solid rgba(16, 46, 46, 1);
    
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    
}
.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
}
.comment-wrapper {display: flex;
flex-direction: column;}
.comment p,.comment span,.darker p,.darker span{
    color: rgb(184, 183, 183);
    
}

h1,h4{
    color: white;
    font-weight: bold;
}
label{
    color: rgb(212, 208, 208);
}

#align-form{
    margin-top: 20px;
}
.form-group p a{
    color: white;
    
}
.form-group{display: flex;
flex-direction: column;
}
.form-group button{
    align-self: self-end;
    
}

#darker img{
    margin-right: 15px;
    position: static;
}

.form-group input,.form-group textarea{
    
    border: 1px solid  #fff;
    border-radius: 12px;
}
::placeholder{color: #fff;}
.comment:focus { border:2px solid #CC4949; }
form{
    
    
    border-radius: 5px;
    padding: 20px;
 }




    </style>
</body>
</html>