<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the first page</title>
</head>
<body>
    <div class="container">
        <a href="createblog">New blog</a>

        <% blogs.forEach(blog =>{ %>
           <div>
               <a href="/user/getuser/"></a>
               <a href="/blog/getblog/<%= blog._id%>"><%= blog.blogName %>  </a> 
               <p><%= blog.createAt.toLocaleDateString('en-GB') %> at <%= blog.createAt.toLocaleTimeString() %> </p>
           </div>
        <% }) %>
    </div>
</body>
</html>